

/***********************************************

    CSS Aplicável apenas ao Rodapé

***********************************************/

footer{
    font-size: 1rem;
    text-align: center;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";

    padding-top: 5rem;
    padding-bottom: 5rem;

    display: block;
    clear: both;
    box-sizing: border-box;
}

.linha_divisoria{
    border: 0.15rem solid #819198;
    border-radius: 0.2rem;

    margin-left: 0.5rem;
    margin-right: 0.5rem;

    display: block;
}

.rodape_1{
    font-size: 1.2rem;
    font-weight: bold;
    display: inline;
}

.rodape_2{
    color: #159957;
    font-weight: bold;
    display: inline;
}

.rodape_3{
    color: royalblue;
    font-weight: normal;
}

.rodape_4{
    color: #819198;
    font-weight: normal;
}