

/***********************************************

    CSS Aplicável apenas ao Cabeçalho

***********************************************/

body{
    margin: 0px;
    padding: 0px;    
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

li{
    list-style-type: none;
}

.corpo_da_pagina{
    font-size: 16px;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";

    margin-top: 3rem;
    margin-left: 1rem;

    width: auto;
    height: auto;
    display: block;
    box-sizing: border-box;
}

.coluna_direita{
	width: 50%;
    height: auto;
    
    float: right;
    display: block;
    box-sizing: border-box;
}

.coluna_esquerda{
	width: 50%;
    height: auto;
    
	float: left;
    display: block;
	box-sizing: border-box;
}

.titulo_da_pagina{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.5rem;
    color: #606c71;
}

.titulo_da_pagina p{
    display: block
}

.titulo_da_pagina_destaque{
    font-size: 2.25rem;
}

.titulos_container{
    margin: 1rem;  /* top, right, bottom, and left values, respectively.*/
}

.seta_nivel_1{   
    font-size: 0.9rem;
}

.seta_nivel_2{   
    font-size: 0.7rem;
}

.titulos_nivel_1{    
    font-size: 1.5rem;
    font-weight: bold;
    color: #159957;
    text-decoration: none;

    user-select: none;
    
    border: transparent;
    background-color: transparent;

}

.titulos_nivel_2{
    font-size: 1.15rem;
    font-weight: bold;
    color: #606c71;
    text-decoration: none;
    
    border: transparent;
    background-color: transparent;
}

.bloco_nivel_2_aberto{
    margin-bottom: 1rem;
}

.bloco_nivel_2_fechado{
    margin-bottom: 0.2rem;
}

.link_repositorio:any-link{
    font-size: 0.9rem;
    font-weight: bolder;
    color: royalblue;
    text-decoration: none;
    
    border: transparent;
    background-color: transparent;
}

.link_repositorio:hover{
    font-size: 1.1rem;
    font-weight: bold;
    color: royalblue;
    text-decoration: none;
    
    border: transparent;
    background-color: transparent;
}



