.nivel_01{
    padding-left: 0px;
    font-weight: bold;
    color: #ff0000;
    text-transform: uppercase;
}

.nivel_02{
    padding-left: 30px;
}

.nivel_03{
    padding-left: 60px;
}

.nivel_04{
    padding-left: 90px;
}

.ramificacao{
    padding-bottom: 30px;
}

.quebrar_linha{
	display: block;
}
