
.nivel_01{
    padding-left: 0px;    
    padding-bottom: 10px;
    font-weight: bold;
    color: rgb(34, 177, 76);
    text-transform: uppercase;
}

.nivel_02{
    font-weight: bold;
    padding-left: 30px;
}

.nivel_03{
    padding-left: 60px;
    padding-bottom: 30px;
}

.nivel_04{
    padding-left: 90px;
}

.quebrar_linha{
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
}
