<html ng-app="listaTelefonica">
    <meta charset="UTF-8">
    <head>
        <title>Lista Telefônica Teste</title>
        <link rel="stylesheet" type="text/css" href="/lib/bootstrap/bootstrap.css">
        <style>
            .jumbotron{
                width: 400px;
                text-align: center;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
            }
            .table{
                margin-top: 20px;
            }
            .form-control{
                margin-bottom: 5px;
            }
        </style>
        <script src="/lib/AngularJS/angular.js"></script>
        <script>
            angular.module("listaTelefonica", []);
            angular.module("listaTelefonica").controller("listaTelefonicaController", function($scope){
                $scope.app = "Lista Telefônica";
                $scope.listaDeContatos = [
                    {nome: "Cleber", telefone:"123456789"},
                    {nome: "Presidente", telefone:"987654321"},
                    {nome: "100%", telefone:"1597532648"}
                ];
                $scope.adicionarContato = function(contato){
                    $scope.listaDeContatos.push(angular.copy(contato));
                    delete $scope.contato;
                };
            });
        </script>
    </head>
    <body ng-controller="listaTelefonicaController">
        <div class="jumbotron">
            <h4 ng-bind="app"></h4>
            <h3>{{app}}</h3>
            <table class="table table-striped">
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                </tr>
                <tr ng-repeat="contato in listaDeContatos">
                    <td>{{contato.nome}}</td>
                    <td>{{contato.telefone}}</td>
                </tr>
            </table>
            <table class="table table-striped">
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                </tr>
                <tr ng-repeat="contato in listaDeContatos">
                    <td ng-repeat="(key, value) in contato">
                        {{value}}
                    </td>
                </tr>
            </table>
            <hr/>
            Nome: <input placeholder="Nome" class="form-control" type="text"ng-model="contato.nome"/>
            Telefone: <input placeholder="Telefone" class="form-control" type="text" ng-model="contato.telefone"/>
            <button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)">Adicionar Contato</button>
            <p>{{contato}}</p>
            <p>{{contato.nome}}</p>
            <p>{{contato.telefone}}</p>
        </div>
    </body>
</html>
