<!DOCTYPE html>
<html ng-app="indiceProjetos">
    <head>
        <title>Índice de Projetos</title>

        <!-- Configuração do Mapa de Caracteres -->
            <meta charset="UTF-8">

        <!-- Inclusão de Bibliotecas -->

            <!-- Bibliotecas de CSS Próprias -->
            <link href="corpo.css" rel="stylesheet" type="text/css">
            <link href="rodape.css" rel="stylesheet" type="text/css">
            <link href="cabecalho.css" rel="stylesheet" type="text/css">
            <link href="nickname.css" rel="stylesheet" type="text/css">

            <!-- Bibliotecas Bootstrap -->
            <script src="lib/jQuery/jquery-3.4.1.js"></script>    
            <link href="lib/bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
        
            <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
            <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

            <!-- Bibliotecas Angular JS -->
            <script src="lib/AngularJS/angular.js"></script>


        <!-- Scripts de Teste -->
        <script>
            angular.module("indiceProjetos", []);
            angular.module("indiceProjetos").controller("indiceProjetosController", function($scope, $location){
                
                $scope.numero = 0;
                $scope.nomeDaPagina = "Índice de Projetos"

                $scope.estruturaBase = [
                    {
                        titulo : {
                            inteligencia : "Inteligência Artificial"
                        },
                        subTitulos : [
                            {
                                nome : "Python Fundamentos",
                                chave : "inteligenciaPython",
                                links : [
                                    {nome : "Teste 01", endereco : "#"},
                                    {nome : "Teste 02", endereco : "#"},
                                    {nome : "Teste 03", endereco : "#"},
                                ],
                            },
                            {
                                nome : "Deep Learning Book",
                                chave : "inteligenciaDeepLearn",
                                links : [
                                    {nome : "Teste 01", endereco : "#"},
                                    {nome : "Teste 02", endereco : "#"},
                                    {nome : "Teste 03", endereco : "#"},
                                ],
                            },
                        ],
                    },
                    {
                        titulo : {
                            anhanguera : "Anhanguera"
                        },
                        subTitulos : [
                            {
                                nome : "Linguagens Formais e Autômatos",
                                chave : "anhangueraAutomatos",
                                links : [
                                    {nome : "Teste 01", endereco : "#"},
                                    {nome : "Teste 02", endereco : "#"},
                                    {nome : "Teste 03", endereco : "#"},
                                ],
                            },
                            {
                                nome : "Algoritmos e Estrutura de Dados",
                                chave : "anhangueraAlgoritmos",
                                links : [
                                    {nome : "Teste 01", endereco : "#"},
                                    {nome : "Teste 02", endereco : "#"},
                                    {nome : "Teste 03", endereco : "#"},
                                ],
                            },
                        ],                        
                    },

                ];

                console.log($scope.estruturaBase);

                
                $scope.criarMatrizDeExibicao = function(){
                    var matriz;
                    $scope.estruturaBase.forEach(elemento => {                        
                        console.log("Título");
                        console.log(elemento.titulo);
                        for (var [key, value] of Object.entries(elemento.titulo)) {
                            console.log("Key : {" + key + "} - Value : {" + value + "}");
                        }
                        
                        
                        console.log("Subtítulos");
                        console.log(elemento.subTitulos);
                        elemento.subTitulos.forEach(subTitulo => {
                            console.log("Nome : " + subTitulo.nome);
                            console.log("Chave : " + subTitulo.chave);
                            subTitulo.links.forEach(link => {
                                for (var [key, value] of Object.entries(link)) {
                                    console.log("Key : {" + key + "} - Value : {" + value + "}");
                                }
                            });
                        });                        
                    });

                };

                $scope.criarMatrizDeExibicao();
                







                $scope.estruturaBase_2 = [
                    {
                        titulo : "Inteligência Artificial",
                        estado : "", // Árvore Aberta ou Fechada
                        subTitulos : [
                            {
                                nome : "Python Fundamentos",
                                estado : "", // Árvore Aberta ou Fechada
                                links : [
                                    {nome : "Teste 01", endereco : "#"},
                                    {nome : "Teste 02", endereco : "#"},
                                    {nome : "Teste 03", endereco : "#"},
                                ],
                            },
                            {
                                nome : "Deep Learning Book",
                                estado : "", // Árvore Aberta ou Fechada
                                links : [
                                    {nome : "Teste 01", endereco : "#"},
                                    {nome : "Teste 02", endereco : "#"},
                                    {nome : "Teste 03", endereco : "#"},
                                ],
                            },
                        ],
                    },
                    {
                        titulo : "Anhanguera",
                        estado : "", // Árvore Aberta ou Fechada
                        subTitulos : [
                            {
                                nome : "Linguagens Formais e Autômatos",
                                estado : "", // Árvore Aberta ou Fechada
                                links : [
                                    {nome : "Teste 01", endereco : "#"},
                                    {nome : "Teste 02", endereco : "#"},
                                    {nome : "Teste 03", endereco : "#"},
                                ],
                            },
                            {
                                nome : "Algoritmos e Estrutura de Dados",
                                estado : "", // Árvore Aberta ou Fechada
                                links : [
                                    {nome : "Teste 01", endereco : "#"},
                                    {nome : "Teste 02", endereco : "#"},
                                    {nome : "Teste 03", endereco : "#"},
                                ],
                            },
                        ],                        
                    },

                ];











                $scope.exibir = {
                    inteligencia : false,
                    inteligenciaPython : false,
                    inteligenciaDeepLearn : false,

                    anhanguera : false,
                    anhangueraAlgoritmos : false,
                    anhangueraAutomatos : false,

                    udemy : false,
                    udemyFlutter : false,

                    outros : false,
                    outrosPython : false,
                    outrosPhp : false,
                    outrosAngular : false,
                };

                var blocoAberto = 'bloco_nivel_2_aberto';
                var blocoFechado = 'bloco_nivel_2_fechado';

                $scope.margemBottom = {
                    inteligenciaPython : blocoFechado,
                    inteligenciaDeepLearn : blocoFechado,

                    anhangueraAlgoritmos : blocoFechado,
                    anhangueraAutomatos : blocoFechado,

                    udemyFlutter : blocoFechado,

                    outrosPython : blocoFechado,
                    outrosPhp : blocoFechado,
                    outrosAngular : blocoFechado,                    
                }
                

                $scope.alternarVisibilidade = function(botao_acionado){

                    // INTELIGÊNCIA ARTIFICIAL
                    if(botao_acionado == "inteligencia"){
                        if($scope.exibir.inteligencia){
                            $scope.exibir.inteligencia = false;
                            $scope.exibir.inteligenciaPython = false;
                            $scope.exibir.inteligenciaDeepLearn = false;

                            $scope.margemBottom.inteligenciaPython = blocoFechado;
                            $scope.margemBottom.inteligenciaDeepLearn = blocoFechado;
                            return;
                        }
                        else
                        {
                            $scope.exibir.inteligencia = true;
                            $scope.exibir.inteligenciaPython = false;
                            $scope.exibir.inteligenciaDeepLearn = false;

                            $scope.margemBottom.inteligenciaPython = blocoFechado;
                            $scope.margemBottom.inteligenciaDeepLearn = blocoFechado;
                            return;
                        }
                    }
                    else if(botao_acionado == "inteligenciaPython"){
                        if($scope.exibir.inteligenciaPython){
                            $scope.margemBottom.inteligenciaPython = blocoFechado;
                        }
                        else{
                            $scope.margemBottom.inteligenciaPython = blocoAberto;
                        }

                        $scope.exibir.inteligenciaPython = !$scope.exibir.inteligenciaPython;
                    }
                    else if(botao_acionado == "inteligenciaDeepLearn"){
                        if($scope.exibir.inteligenciaDeepLearn){
                            $scope.margemBottom.inteligenciaDeepLearn = blocoFechado;
                        }
                        else{
                            $scope.margemBottom.inteligenciaDeepLearn = blocoAberto;
                        }

                        $scope.exibir.inteligenciaDeepLearn = !$scope.exibir.inteligenciaDeepLearn;
                    }


                    // ANHANGUERA
                    else if(botao_acionado == "anhanguera"){
                        if($scope.exibir.anhanguera){
                            $scope.exibir.anhanguera = false;
                            $scope.exibir.anhangueraAlgoritmos = false;
                            $scope.exibir.anhangueraAutomatos = false;

                            $scope.margemBottom.anhangueraAlgoritmos = blocoFechado;
                            $scope.margemBottom.anhangueraAutomatos = blocoFechado;
                        }
                        else{
                            $scope.exibir.anhanguera = true;
                            $scope.exibir.anhangueraAlgoritmos = false;
                            $scope.exibir.anhangueraAutomatos = false;

                            $scope.margemBottom.anhangueraAlgoritmos = blocoFechado;
                            $scope.margemBottom.anhangueraAutomatos = blocoFechado;
                        }
                    }
                    else if(botao_acionado == "anhangueraAlgoritmos"){
                        if($scope.exibir.anhangueraAlgoritmos){
                            $scope.margemBottom.anhangueraAlgoritmos = blocoFechado;
                        }
                        else{
                            $scope.margemBottom.anhangueraAlgoritmos = blocoAberto;
                        }

                        $scope.exibir.anhangueraAlgoritmos = !$scope.exibir.anhangueraAlgoritmos;
                    }
                    else if(botao_acionado == "anhangueraAutomatos"){
                        if($scope.exibir.anhangueraAutomatos){
                            $scope.margemBottom.anhangueraAutomatos = blocoFechado;
                        }
                        else{
                            $scope.margemBottom.anhangueraAutomatos = blocoAberto;
                        }

                        $scope.exibir.anhangueraAutomatos = !$scope.exibir.anhangueraAutomatos;
                    }


                    // UDEMY
                    else if(botao_acionado == "udemy"){
                        if($scope.exibir.udemy){  
                            $scope.exibir.udemy = false;
                            $scope.exibir.udemyFlutter = false;

                            $scope.margemBottom.udemyFlutter = blocoFechado;
                        }
                        else{
                            $scope.exibir.udemy = true;
                            $scope.exibir.udemyFlutter = false;

                            $scope.margemBottom.udemyFlutter = blocoFechado;
                        }
                    }
                    else if(botao_acionado == "udemyFlutter"){
                        if($scope.exibir.udemyFlutter){
                            $scope.margemBottom.udemyFlutter = blocoFechado;
                        }
                        else{
                            $scope.margemBottom.udemyFlutter = blocoAberto;
                        }

                        $scope.exibir.udemyFlutter = !$scope.exibir.udemyFlutter;
                    }


                    // OUTROS
                    else if(botao_acionado == "outros"){
                        if($scope.exibir.outros){
                            $scope.exibir.outros = false;
                            $scope.exibir.outrosPhp = false;
                            $scope.exibir.outrosPython = false;
                            $scope.exibir.outrosAngular = false;

                            $scope.margemBottom.outrosPhp = blocoFechado;
                            $scope.margemBottom.outrosPython = blocoFechado;
                            $scope.margemBottom.outrosAngular = blocoFechado;
                        }
                        else{
                            $scope.exibir.outros = true;
                            $scope.exibir.outrosPhp = false;
                            $scope.exibir.outrosPython = false;
                            $scope.exibir.outrosAngular = false;

                            $scope.margemBottom.outrosPhp = blocoFechado;
                            $scope.margemBottom.outrosPython = blocoFechado;
                            $scope.margemBottom.outrosAngular = blocoFechado;
                        }
                    }
                    else if(botao_acionado == "outrosPhp"){
                        if($scope.exibir.outrosPhp){
                            $scope.margemBottom.outrosPhp = blocoFechado;
                        }
                        else{
                            $scope.margemBottom.outrosPhp = blocoAberto;
                        }

                        $scope.exibir.outrosPhp = !$scope.exibir.outrosPhp;
                    }
                    else if(botao_acionado == "outrosPython"){
                        if($scope.exibir.outrosPython){
                            $scope.margemBottom.outrosPython = blocoFechado;
                        }
                        else{
                            $scope.margemBottom.outrosPython = blocoAberto;
                        }

                        $scope.exibir.outrosPython = !$scope.exibir.outrosPython;
                    }
                    else if(botao_acionado == "outrosAngular"){
                        if($scope.exibir.outrosAngular){
                            $scope.margemBottom.outrosAngular = blocoFechado;
                        }
                        else{
                            $scope.margemBottom.outrosAngular = blocoAberto;
                        }

                        $scope.exibir.outrosAngular = !$scope.exibir.outrosAngular;
                    }
                }
                
            });
        </script>

    </head>
    <body ng-controller="indiceProjetosController">

        <div class="cabecalho">
            <h1>{{nomeDaPagina}}</h1>
            <h2>Criar esta lista foi a maneira que eu encontrei para organizar todos os meus projetos aqui do GitHub.</h2>
            <a href="https://github.com/CleberPresidente100" class="cabecalho_button" target="blank">Acessar meu GitHub</a>
        </div>

        <div class="corpo_da_pagina">

            <div class="titulo_da_pagina">
                <p class="titulo_da_pagina_destaque">
                    <span class="cor_azul">C</span
                    ><span class="cor_vermelha">l</span
                    ><span class="cor_verde">e</span
                    ><span class="cor_roxa">b</span
                    ><span class="cor_amarela">e</span
                    ><span class="cor_azul">r</span>

                    <span class="cor_vermelha">P</span
                    ><span class="cor_verde">r</span
                    ><span class="cor_roxa">e</span
                    ><span class="cor_amarela">s</span
                    ><span class="cor_azul">i</span
                    ><span class="cor_vermelha">d</span
                    ><span class="cor_verde">e</span
                    ><span class="cor_roxa">n</span
                    ><span class="cor_amarela">t</span
                    ><span class="cor_azul">e</span>
                    
                    <span class="cor_verde">100%</span>
                </p>
            </div>
            
            <div class="coluna_esquerda">
                <div class="centralizar_coluna">

                    <div class="titulos_container">
                        <a ng-click="alternarVisibilidade('inteligencia')">
                            <span class="titulos_nivel_1"> 
                                Inteligência Artificial <span class="seta_nivel_1">▼</span>
                            </span>                        
                        </a>
                        <ul ng-show="exibir.inteligencia">
                            <li class={{margemBottom.inteligenciaPython}}>
                                <a ng-click="alternarVisibilidade('inteligenciaPython')">
                                    <span class="titulos_nivel_2">
                                        Python Fundamentos <span class="seta_nivel_2">▼</span>                                    
                                    </span>
                                </a>
                                <ul ng-show="exibir.inteligenciaPython">
                                    <li><a class="link_repositorio" href="#">Teste 1</a></li>
                                    <li><a class="link_repositorio" href="#">Teste 2</a></li>
                                    <li><a class="link_repositorio" href="#">Teste 3</a></li>
                                </ul>
                            </li>
                            <li class={{margemBottom.inteligenciaDeepLearn}}>
                                <a ng-click="alternarVisibilidade('inteligenciaDeepLearn')">
                                    <span class="titulos_nivel_2">
                                        Deep Learning Book <span class="seta_nivel_2">▼</span>
                                    </span>
                                </a>
                                <ul ng-show="exibir.inteligenciaDeepLearn">
                                    <li><a class="link_repositorio" href="#">Teste 1</a></li>
                                    <li><a class="link_repositorio" href="#">Teste 2</a></li>
                                    <li><a class="link_repositorio" href="#">Teste 3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div> 
                    


                    <div class="titulos_container">
                        <a ng-click="alternarVisibilidade('anhanguera')">
                            <span class="titulos_nivel_1">
                                Anhanguera <span class="seta_nivel_1">▼</span>
                            </span>
                        </a>
                        <ul ng-show="exibir.anhanguera">
                            <li class={{margemBottom.anhangueraAlgoritmos}}>
                                <a ng-click="alternarVisibilidade('anhangueraAlgoritmos')">
                                    <span class="titulos_nivel_2">
                                        Algoritmos e Estrutura de Dados <span class="seta_nivel_2">▼</span>
                                    </span>
                                </a>
                                <ul ng-show="exibir.anhangueraAlgoritmos">
                                    <li><a class="link_repositorio" href="#">Jogo "É Duro"</a></li>
                                    <li><a class="link_repositorio" href="#">Projeto Final de Semestre</a></li>
                                </ul>
                            </li>
                            <li class={{margemBottom.anhangueraAutomatos}}>
                                <a ng-click="alternarVisibilidade('anhangueraAutomatos')">
                                    <span class="titulos_nivel_2">
                                        Linguagens Formais e Autômatos <span class="seta_nivel_2">▼</span>
                                    </span>
                                </a>
                                <ul ng-show="exibir.anhangueraAutomatos">
                                    <li><a class="link_repositorio" href="#">Expressões Matemáticas</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div> <!-- Fim da Centralização -->
            </div> <!-- Fim da Coluna da Esquerda -->
            <div class="coluna_direita">


                <div class="titulos_container">
                    <a ng-click="alternarVisibilidade('udemy')">
                        <span class="titulos_nivel_1">
                            Udemy <span class="seta_nivel_1">▼</span>
                        </span>
                    </a>
                    <ul ng-show="exibir.udemy">
                        <li class={{margemBottom.udemyFlutter}}>
                            <a ng-click="alternarVisibilidade('udemyFlutter')">
                                <span class="titulos_nivel_2">
                                    Flutter <span class="seta_nivel_2">▼</span>
                                </span>
                            </a>
                            <ul ng-show="exibir.udemyFlutter">
                                <li><a class="link_repositorio" href="#">Todos os Exercícios</a></li>
                            </ul>
                        </li>
                    </ul>
                </div> 
                


                <div class="titulos_container">
                    <a ng-click="alternarVisibilidade('outros')">
                        <span class="titulos_nivel_1">
                            Outros <span class="seta_nivel_1">▼</span>
                        </span>
                    </a>
                    <ul ng-show="exibir.outros">
                        <li class={{margemBottom.outrosPython}}>
                            <a ng-click="alternarVisibilidade('outrosPython')">
                                <span class="titulos_nivel_2">
                                    Python <span class="seta_nivel_2">▼</span>
                                </span>
                            </a>
                            <ul ng-show="exibir.outrosPython">
                                <li><a class="link_repositorio" href="#">Força Bruta p/ arquivos RAR</a></li>
                            </ul>
                        </li>
                        <li class={{margemBottom.outrosPhp}}>
                            <a ng-click="alternarVisibilidade('outrosPhp')">
                                <span class="titulos_nivel_2">
                                    PHP <span class="seta_nivel_2">▼</span>
                                </span>
                            </a>
                            <ul ng-show="exibir.outrosPhp">
                                <li><a class="link_repositorio" href="#">Planetinha</a></li>
                            </ul>
                        </li>
                        <li class={{margemBottom.outrosAngular}}>
                            <a ng-click="alternarVisibilidade('outrosAngular')">
                                <span class="titulos_nivel_2">
                                    AngularJS <span class="seta_nivel_2">▼</span>
                                </span>
                            </a>
                            <ul ng-show="exibir.outrosAngular">
                                <li><a class="link_repositorio" href="#">Todos os Exercícios</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div> <!-- Fim da Coluna da Direita -->

        </div> <!-- Fim do Corpo da Página -->

        <footer>
            <hr class="linha_divisoria">
            <p>
                <div class="rodape_2">This page is maintained by</div>
                <div class="rodape_1">
                    <span class="cor_azul">C</span
                    ><span class="cor_vermelha">l</span
                    ><span class="cor_verde">e</span
                    ><span class="cor_roxa">b</span
                    ><span class="cor_amarela">e</span
                    ><span class="cor_azul">r</span>

                    <span class="cor_vermelha">P</span
                    ><span class="cor_verde">r</span
                    ><span class="cor_roxa">e</span
                    ><span class="cor_amarela">s</span
                    ><span class="cor_azul">i</span
                    ><span class="cor_vermelha">d</span
                    ><span class="cor_verde">e</span
                    ><span class="cor_roxa">n</span
                    ><span class="cor_amarela">t</span
                    ><span class="cor_azul">e</span>  
                                      
                    <span class="cor_verde">100%</span>
                </div>

                
            </p>
            <p>
                <span class="rodape_4">This page is hosted by</span> <span class="rodape_3"> GitHub Pages.</span>
            </p>
            
        </footer>        
    </body>
</html>