<!DOCTYPE html>
<html ng-app="indiceProjetos">
    <head>
        <title>Índice de Projetos</title>

        <!-- Configuração do Mapa de Caracteres -->
            <meta charset="UTF-8">

        <!-- Inclusão de Bibliotecas -->

            <!-- Bibliotecas de CSS Próprias -->
            <link rel="stylesheet" type="text/css" href="css/corpo.css">
            <link rel="stylesheet" type="text/css" href="css/rodape.css">
            <link rel="stylesheet" type="text/css" href="css/cabecalho.css">
            <link rel="stylesheet" type="text/css" href="css/nickname.css">


            <!-- Bibliotecas Bootstrap -->
            <script src="lib/jQuery/jquery-3.4.1.js"></script>    
            <link href="lib/bootstrap/bootstrap.css" rel="stylesheet" type="text/css">
        
            <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
            <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

            <!-- Bibliotecas Angular JS -->
            <script src="lib/AngularJS/angular.js"></script>

            <!-- Controllers -->
            <script src="js/controllers/indiceProjetosController.js"></script>


        <!-- Scripts de Teste -->
        <script>
        </script>


    </head>
    <body ng-controller="indiceProjetosController">

        <div class="cabecalho">
            <h1>{{nomeDaPagina}}</h1>
            <h2>Criar esta lista foi a maneira que eu encontrei para organizar todos os meus projetos aqui do GitHub.</h2>
            <a href="https://github.com/CleberPresidente100" class="cabecalho_button" target="blank">Acessar meu GitHub</a>
        </div>

        <div class="corpo_da_pagina">

            <div class="titulo_da_pagina">
                <p class="titulo_da_pagina_destaque">
                    <span class="cor_azul">C</span
                    ><span class="cor_vermelha">l</span
                    ><span class="cor_verde">e</span
                    ><span class="cor_roxa">b</span
                    ><span class="cor_amarela">e</span
                    ><span class="cor_azul">r</span>

                    <span class="cor_vermelha">P</span
                    ><span class="cor_verde">r</span
                    ><span class="cor_roxa">e</span
                    ><span class="cor_amarela">s</span
                    ><span class="cor_azul">i</span
                    ><span class="cor_vermelha">d</span
                    ><span class="cor_verde">e</span
                    ><span class="cor_roxa">n</span
                    ><span class="cor_amarela">t</span
                    ><span class="cor_azul">e</span>
                    
                    <span class="cor_verde">100%</span>
                </p>
            </div>
            
            <div class="coluna_esquerda">
                <div class="centralizar_coluna">













                    <!-- <div ng-repeat="(key, value) in estruturaBase"> -->
                    <div ng-repeat="elemento in estruturaBase_3">

                        <div class="titulos_container">

                            <!-- <a ng-click="alternarVisibilidade_3('tituloId' = elemento.id)"> -->
                            <a ng-click="alternarVisibilidade_3(elemento.id)">
                                <span class="titulos_nivel_1"> 
                                    {{elemento.titulo}} <span class="seta_nivel_1">▼</span>
                                </span>                        
                            </a>

                            <ul ng-show="elemento.estado">

                                <div ng-repeat="subTitulo in elemento.subTitulos">                                
                                    <li class={{gerenciarEspacamento(subTitulo.estado)}}>

                                        <!-- <a ng-click="alternarVisibilidade_3('tituloId'= elemento.id, 'subTituloId' = subTitulo.id)"> -->
                                        <a ng-click="alternarVisibilidade_3(elemento.id, subTitulo.id)">
                                            <span class="titulos_nivel_2">
                                                {{subTitulo.nome}} <span class="seta_nivel_2">▼</span>                                    
                                            </span>
                                        </a>

                                        <ul ng-show="subTitulo.estado">
                                            <div ng-repeat="projeto in subTitulo.projetos">
                                                <li>
                                                    <a class="link_repositorio" href="{{projeto.endereco}}">
                                                        {{projeto.nome}}
                                                    </a>
                                                </li>
                                            </div> <!-- Fim Repeat Projetos -->
                                        </ul>

                                    </li>
                                </div> <!-- Fim Repeat Subtítulos -->
                            </ul>

                        </div>

                    </div> <!-- Fim Repeat Títulos  -->


                        <div class="titulos_container">
                            <a ng-click="alternarVisibilidade('inteligencia')">
                                <span class="titulos_nivel_1"> 
                                    Inteligência Artificial <span class="seta_nivel_1">▼</span>
                                </span>                        
                            </a>
                            <ul ng-show="exibir.inteligencia">
                                <li class={{margemBottom.inteligenciaPython}}>
                                    <a ng-click="alternarVisibilidade('inteligenciaPython')">
                                        <span class="titulos_nivel_2">
                                            Python Fundamentos <span class="seta_nivel_2">▼</span>                                    
                                        </span>
                                    </a>
                                    <ul ng-show="exibir.inteligenciaPython">
                                        <li><a class="link_repositorio" href="#">Teste 1</a></li>
                                        <li><a class="link_repositorio" href="#">Teste 2</a></li>
                                        <li><a class="link_repositorio" href="#">Teste 3</a></li>
                                    </ul>
                                </li>
                                <li class={{margemBottom.inteligenciaDeepLearn}}>
                                    <a ng-click="alternarVisibilidade('inteligenciaDeepLearn')">
                                        <span class="titulos_nivel_2">
                                            Deep Learning Book <span class="seta_nivel_2">▼</span>
                                        </span>
                                    </a>
                                    <ul ng-show="exibir.inteligenciaDeepLearn">
                                        <li><a class="link_repositorio" href="#">Teste 1</a></li>
                                        <li><a class="link_repositorio" href="#">Teste 2</a></li>
                                        <li><a class="link_repositorio" href="#">Teste 3</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    <!-- </div> -->










                    

                     
                    


                    <div class="titulos_container">
                        <a ng-click="alternarVisibilidade('anhanguera')">
                            <span class="titulos_nivel_1">
                                Anhanguera <span class="seta_nivel_1">▼</span>
                            </span>
                        </a>
                        <ul ng-show="exibir.anhanguera">
                            <li class={{margemBottom.anhangueraAlgoritmos}}>
                                <a ng-click="alternarVisibilidade('anhangueraAlgoritmos')">
                                    <span class="titulos_nivel_2">
                                        Algoritmos e Estrutura de Dados <span class="seta_nivel_2">▼</span>
                                    </span>
                                </a>
                                <ul ng-show="exibir.anhangueraAlgoritmos">
                                    <li><a class="link_repositorio" href="#">Jogo "É Duro"</a></li>
                                    <li><a class="link_repositorio" href="#">Projeto Final de Semestre</a></li>
                                </ul>
                            </li>
                            <li class={{margemBottom.anhangueraAutomatos}}>
                                <a ng-click="alternarVisibilidade('anhangueraAutomatos')">
                                    <span class="titulos_nivel_2">
                                        Linguagens Formais e Autômatos <span class="seta_nivel_2">▼</span>
                                    </span>
                                </a>
                                <ul ng-show="exibir.anhangueraAutomatos">
                                    <li><a class="link_repositorio" href="#">Expressões Matemáticas</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div> <!-- Fim da Centralização -->
            </div> <!-- Fim da Coluna da Esquerda -->
            <div class="coluna_direita">


                <div class="titulos_container">
                    <a ng-click="alternarVisibilidade('udemy')">
                        <span class="titulos_nivel_1">
                            Udemy <span class="seta_nivel_1">▼</span>
                        </span>
                    </a>
                    <ul ng-show="exibir.udemy">
                        <li class={{margemBottom.udemyFlutter}}>
                            <a ng-click="alternarVisibilidade('udemyFlutter')">
                                <span class="titulos_nivel_2">
                                    Flutter <span class="seta_nivel_2">▼</span>
                                </span>
                            </a>
                            <ul ng-show="exibir.udemyFlutter">
                                <li><a class="link_repositorio" href="#">Todos os Exercícios</a></li>
                            </ul>
                        </li>
                    </ul>
                </div> 
                


                <div class="titulos_container">
                    <a ng-click="alternarVisibilidade('outros')">
                        <span class="titulos_nivel_1">
                            Outros <span class="seta_nivel_1">▼</span>
                        </span>
                    </a>
                    <ul ng-show="exibir.outros">
                        <li class={{margemBottom.outrosPython}}>
                            <a ng-click="alternarVisibilidade('outrosPython')">
                                <span class="titulos_nivel_2">
                                    Python <span class="seta_nivel_2">▼</span>
                                </span>
                            </a>
                            <ul ng-show="exibir.outrosPython">
                                <li><a class="link_repositorio" href="#">Força Bruta p/ arquivos RAR</a></li>
                            </ul>
                        </li>
                        <li class={{margemBottom.outrosPhp}}>
                            <a ng-click="alternarVisibilidade('outrosPhp')">
                                <span class="titulos_nivel_2">
                                    PHP <span class="seta_nivel_2">▼</span>
                                </span>
                            </a>
                            <ul ng-show="exibir.outrosPhp">
                                <li><a class="link_repositorio" href="#">Planetinha</a></li>
                            </ul>
                        </li>
                        <li class={{margemBottom.outrosAngular}}>
                            <a ng-click="alternarVisibilidade('outrosAngular')">
                                <span class="titulos_nivel_2">
                                    AngularJS <span class="seta_nivel_2">▼</span>
                                </span>
                            </a>
                            <ul ng-show="exibir.outrosAngular">
                                <li><a class="link_repositorio" href="#">Todos os Exercícios</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div> <!-- Fim da Coluna da Direita -->

        </div> <!-- Fim do Corpo da Página -->

        <footer>
            <hr class="linha_divisoria">
            <p>
                <div class="rodape_2">This page is maintained by</div>
                <div class="rodape_1">
                    <span class="cor_azul">C</span
                    ><span class="cor_vermelha">l</span
                    ><span class="cor_verde">e</span
                    ><span class="cor_roxa">b</span
                    ><span class="cor_amarela">e</span
                    ><span class="cor_azul">r</span>

                    <span class="cor_vermelha">P</span
                    ><span class="cor_verde">r</span
                    ><span class="cor_roxa">e</span
                    ><span class="cor_amarela">s</span
                    ><span class="cor_azul">i</span
                    ><span class="cor_vermelha">d</span
                    ><span class="cor_verde">e</span
                    ><span class="cor_roxa">n</span
                    ><span class="cor_amarela">t</span
                    ><span class="cor_azul">e</span>  
                                      
                    <span class="cor_verde">100%</span>
                </div>

                
            </p>
            <p>
                <span class="rodape_4">This page is hosted by</span> <span class="rodape_3"> GitHub Pages.</span>
            </p>
            
        </footer>        
    </body>
</html>