

    <span class="cor_azul">C</span
    ><span class="cor_vermelha">l</span
    ><span class="cor_verde">e</span
    ><span class="cor_roxa">b</span
    ><span class="cor_amarela">e</span
    ><span class="cor_azul">r</span>

    <span class="cor_vermelha">P</span
    ><span class="cor_verde">r</span
    ><span class="cor_roxa">e</span
    ><span class="cor_amarela">s</span
    ><span class="cor_azul">i</span
    ><span class="cor_vermelha">d</span
    ><span class="cor_verde">e</span
    ><span class="cor_roxa">n</span
    ><span class="cor_amarela">t</span
    ><span class="cor_azul">e</span>

    <span class="cor_verde">100%</span>
